html
    {
    min-height: 100%;
    height: 100%;
    }

body
    {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(40, 40, 40);
    color: white;
    text-align: center;
    margin: 0;

    min-height: 100%;
    height: 100%;
    }


#GameMenu, #MainMenu, #HighScore, #mainCanvas
    {
    display: none;
    }

#MainMenu, #HighScore
    {
    align-self: center;
    }

#GameMenu
    {
    justify-content: space-between;
    margin-bottom: 5px;
    }


.GameMenu-infoContainer > *, #GameMenu-right > *
    {
    display: inline-block;
    margin: 0 10px;
    }

#GameMenu-left > *
    {
    display: inline-block;
    }

.GameMenu-infoContainer
    {
    display: inline-block;
    margin-right: 40px;
    }

.MapInformation-playerNumber
    {
    background-color: rgba(100, 100, 255, 0.5);
    border-radius: 5px;
    padding: 0 8px;
    }

.button
    {
    cursor: pointer;
    }

#Message
    {
    font-size: 1.5em;
    text-align: center;
    cursor: default;
    }

#HighScore-table td:nth-child(even), #HighScore-table th:nth-child(even)
    {
    background-color: rgb(90, 90, 90);
    }


#MainMenu-selectMap
    {
    margin-bottom: 10px;
    }

#MainMenu-selectMap > *
    {
    display: table-cell;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    }

#MainMenu-buttons > *
    {
    padding: 5px;
    }


.mapSelected
    {
    border-radius: 15px;
    background-color: rgba(0, 0, 255, 0.4);
    }