body
    {
    position: relative;

    background-color: rgb(40, 40, 40);
    color: white;
    text-align: center;
    margin: 0;
    }

#mainCanvas
    {
    position: absolute;
    top: 0;
    left: 0;
    /*border: 1px solid #1d5987;*/
    }


#GameMenu, #MainMenu, #HighScore
    {
    display: none;
    position: absolute;
    }

#GameMenu > *
    {
    display: inline-block;
    margin: 10px;
    }


.button
    {
    cursor: pointer;
    }

.Message
    {
    position: absolute;
    font-size: 1.5em;
    text-align: center;
    cursor: default;
    }

#HighScore-table td:nth-child(even), #HighScore-table th:nth-child(even)
    {
    background-color: rgb(90, 90, 90);
    }


#MainMenu-selectMap > *
    {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    }


.mapSelected
    {
    background-color: darkblue;
    }